
nav{
  animation: 1s ease-out 0s 1 slideInFromLeft;
  

}

#navbar {
background-color: #333;

}
.navbar-nav #a1:hover {
 
  background-color:#3aafa9 ;
  color: white;
  
}
.navbar-nav #dashboard:hover {
 
  background-color:#3aafa9 ;
  color: white;
  
}
.navbar-nav #login_button:hover {
 
  background-color:#3aafa9 ;
  color: white;
  
}
.navbar-nav #signup_button:hover {
 
  background-color:#3aafa9 ;
  color: white;
  
}
.navbar-nav #logout:hover {
 
  background-color:#3aafa9 ;
  color: white;
  
}
#myUL li a:hover:not(.header) {
  background-color: #eee;
}
#useremail{
  font-size: smaller;
}
 .right{
  position:relative;
  float:right;
 
}
#collapsibleNavbar{
  padding-left: 10%;

}

#login{
padding-left: 60%;
}

body
{
    
    background-image: url(apple.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    color: white;
}
footer
{
    color: white;
}
.card:hover
{
    transform: scale(1.2);
}
  .card img
  {
     
      height:230px;
  }
  #background
  {
   
    background-color:#d5d5d5;
  }
 
 
 
  footer{
    background-color: white;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

#copywrite
{
  background-color: #17252a;
  
}
#copywrite p
{
  color: white;
}
#copywrite a
{
  color: white;
}

.tooltip-wrap {
  position: relative;

}
#image
{
  margin-left: 23px;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 2%;
  left: 5%;
  right: 5%;
  background-image: linear-gradient(to left, rgba(12, 14, 13, 0.6), rgba(32, 33, 36, 0.7));
  color:white;
  padding: 2px;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}