/* header */
.jumbotron{
    height: auto;
    padding: 20px;
}
.logo{
    display: inline-block;
    margin: 0;
   height: 100px;
   width: 100px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.logout{
    margin-top: 10px;
    width: auto;
    height: 50px;
    
}
/* container-fluid */
.container-bottom{
    padding-bottom: 200px;
}
th{
    padding:10px;
}
table{
    box-shadow: 14px 24px 48px 5px #bfdaf5;
}
.btn-color-chnage{
    background-color: rgb(96, 200, 169);
    color: white;
}

/* footer! */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color:#dfdee3;
    color: black;
    text-align: center;
}
.capitalise
{
    text-transform:capitalize;
}
.showData {
 
    width: auto;
    height: auto;
}
.dropdown-showhide{
    display: none;
}
.card{
    background-color:#e1dcf7;
    margin: 20px;
   
 }
.card-title{

    font-weight: 30px;
    font-size: 24px;
}
.card:hover{
    box-shadow: 14px 24px 48px 5px #43474b;
}
/* .card-text{
    color: white;
} */


@media screen and (min-width:360px) and (max-width:579px){
 
    .logout{
        margin-top: 0;
        padding-top: 10px;
        width: 100%;
        height: 50px;
        
    }

    .res-footer{
        height: 50px;
    }

    .res-jumbotron{
        width: 100%;
    }
    .card{
       margin: 20px;
    }
}